<div class="collection-thumbnail">
	<span class="tag tag-active" ng-if="::!ctrl.hideTag" ng-switch="::ctrl.collection.type">
		<span ng-switch-when="developer">{{ ::'main.library.playlists.developer_tag' | translate }}</span>
		<span ng-switch-when="followed">{{ ::'main.library.playlists.followed_tag' | translate }}</span>
		<span ng-switch-when="playlist">{{ ::'main.library.playlists.playlist_tag' | translate }}</span>
		<span ng-switch-when="bundle">{{ ::'main.library.playlists.bundle_tag' | translate }}</span>
		<span ng-switch-when="tag">{{ ::'main.library.playlists.tag_tag' | translate }}</span>
	</span>

	<span class="jolticon jolticon-playlist"></span>

	<img
		ng-if="ctrl.collection.img_thumbnail"
		gj-img-responsive="{{ ::ctrl.collection.img_thumbnail }}"
		alt="{{ ::ctrl.collection.name }}">
</div>
